
    <div id="test" style="display:none;">testtesttest</div>
    <div id="content">

      <div class="j_MainContainer">
        <!-- 店铺信息 -->
              <div class="header">
                  <p class="shop-name">{{shopName}}</p>
              </div>

              <!-- 店铺升级详情 -->
              <div class="container">
                <section class="recruit">
                  {{if childrenLeft == 0}}
                    <div class="icon-status-unfinished finished"></div>
                  {{else}}
                    <div class="icon-status-unfinished"></div>
                  {{/if}}
                  <div class="upgrade-info">
                    <p class="sort-name">
                      <span class="name">纳新人数</span>
                      {{if childrenLeft != 0}}
                        <span class="left">还差{{childrenLeft}}人</span>
                      {{/if}}
                    </p>
                    <div class="sort-info">
                      <span class="need-num">{{childrenLimit}}人</span>
                      <div class="progress-box">
                        <div class="progress-unfinished progress"></div>
                        {{if childrenLeft == 0}}
                          <div style="width: 100%" class="progress-finished progress finished"></div>
                        {{else}}
                          <div style="width: {{childrenRate}}" class="progress-finished progress"></div>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </section>
                <section class="order">
                  {{if ordersLeft == 0}}
                    <div class="icon-status-unfinished finished"></div>
                  {{else}}
                    <div class="icon-status-unfinished"></div>
                  {{/if}}
                  <div class="upgrade-info">
                    <p class="sort-name">
                      <span class="name">订单数量</span>
                      {{if ordersLeft != 0}}
                        <span class="left">还差{{ordersLeft}}单</span>
                      {{/if}}
                    </p>
                    <div class="sort-info">
                      <span class="need-num">{{ordersLimit}}单</span>
                      <div class="progress-box">
                        <div class="progress-unfinished progress"></div>
                        {{if ordersLeft == 0}}
                          <div style="width: 100%" class="progress-finished progress finished"></div>
                        {{else}}
                          <div style="width: {{ordersRate}}" class="progress-finished progress"></div>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </section>
                <section class="duration">
                  {{if openedDaysLeft == 0}}
                    <div class="icon-status-unfinished finished"></div>
                  {{else}}
                    <div class="icon-status-unfinished"></div>
                  {{/if}}
                  <div class="upgrade-info">
                    <p class="sort-name">
                      <span class="name">实习时间</span>
                      {{if openedDaysLeft != 0}}
                        <span class="left">还差{{openedDaysLeft}}天</span>
                      {{/if}}
                    </p>
                    <div class="sort-info">
                      <span class="need-num">{{openedDaysLimit}}天</span>
                      <div class="progress-box">
                        <div class="progress-unfinished progress"></div>
                        {{if openedDaysLeft == 0}}
                          <div style="width: 100%" class="progress-finished progress finished"></div>
                        {{else}}
                          <div style="width: {{openedDaysRate}}" class="progress-finished progress"></div>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <!-- 提示 -->
              <p class="tip">提示: 如果纳新人数或订单数量达到标准可以提前升级为标准店铺</p>

              <!-- 升级按钮 -->
              {{if canApply}}
                <div class="j_UpgradeButton upgrade-button active">
                  升级为标准店
                </div>
              {{else}}
                <div class="upgrade-button">
                  升级为标准店
                </div>
              {{/if}}
      </div>

    </div>
